@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
    height: 100%;
    font-family: 'Lexend', sans-serif;
  }
  
  ::-moz-selection { 
    color: var(--tw-color-textDark);
    background-color: var(--tw-color-primary);
  }

  ::selection { 
    color: var(--tw-color-textDark);
    background-color: var(--tw-color-primary);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Bricolage Grotesque', sans-serif;
  }

  #__next {
    height: 100%;
  }

  .blog-article p:not(:last-child){
    margin-bottom: 0.5rem;
  }
  
  .blog-article h2{
    margin-bottom: 1rem;
    font-weight: bold;
    font-size: 1.5rem;
  }
}
